p {
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .kunuz-title {
    font-size: 30px;
    font-weight: bold; 
    font-style: italic;
    text-align: center;
    font-size: 20px;
    width: 400px;
    line-height: 35px;
    text-align: center; 
  }

  .video-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
  }

  .video-author {
    color: rgb(96, 96, 96);
    font-size: 14px;
  }

  .text-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 400px;
  }

  .linking-stats {
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding: 18px;
    text-decoration: underline;
    
  }
  .note-stats {
    margin-top: 10px;
  }

  .span-example {
    color: red;
  }
  .span-example:hover {
    text-decoration: underline;
  }

  .tah {
    font: Tahoma;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  .year {
    font-size: Arial;
    font-weight: bold;
  }
  .s {
    color: red;
    font-style: italic;
    margin-bottom: 19px;
  }
  .c {
    font-size: Verdana;
    margin-top: 15px;
    font-weight: bold;
  }
  .get {
    background-color: rgb(2, 110, 2);
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .b {
    color: grey;
    margin-bottom: 10px;
  }
  .i {
    width: 265px;
  }
  .d {
    font: Arial;
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .sa {
    color: rgb(194, 48, 48);
    font-style: italic;
  }
  .sho {
    font: Arial;
    font-size: large;
    
    font-size: 25px;  
    text-align: center;
    font-weight: bold;
  }
  .see {
    text-align: center;
    margin-top: 10px;
  }
  .learn {
    color: rgb(46, 46, 169);
    text-align: center;
    margin-top: 10px;
  }
  .new {
    color: rgb(230, 68, 68);
    text-align: center;
    margin-top: 25px;
  }
  .macbook {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  .supercharge {
    font-weight: bold;
    text-align: center;
    font-size: 35px;
  }
  .from {
    color: rgb(63, 63, 63);
    text-align: center;
    margin-top: 10px;
  }
  .buy {
    background-color: rgb(45, 109, 220);
    color: white;
    font-size: 15px;
    justify-content: center;
    cursor: pointer;
    border-radius: 18px;
    border: none;
    padding: 8px 18px;  
    margin-bottom: 10px;
    align-items: center;
    
  }

  .free {
    color: grey;
    margin-top: 20px;
    font-size: normal;

  }
  .as {
    width: 460px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 10px;
  }
  .here {
    width: 350px;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .n {
    font-size: 44px;
    margin-top: 20px;
  }
  .u {
    margin-top: 10px;
    color: grey;
    font-size: 25px;

  }
  .green {
    color: green;
  }
  .after {
    color: grey;
  }
  .minus {
    color: rgb(233, 65, 65);
  }
  .blue {
    color: rgb(51, 165, 210);
  }
  .model {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  .order {
    text-align: center;
    margin-top: 10px;
  }
  .touch {
    text-decoration: underline;
  }